/* Run 
 *    lessc styles.less styles.css
 * to generate the css file.
 */
/* Color schemes website:
 *     http://colorschemedesigner.com  
 */
/*
Color scheme: 
*/
html {
  margin: 0;
  height: 100%;
}
body {
  margin: 0em;
  padding: 0px;
  border: 0px;
}
.hidden {
  display: none;
}
p {
  margin: 0px;
  padding: 2px;
  color: #000000;
}
a {
  color: #000033;
}
a:hover {
  text-decoration: underline;
}
h1 {
  margin: 1em 1em 0.25em 0em;
  padding: 2px;
  font-size: 1.3em;
  font-weight: bold;
  color: #40334d;
}
h2 {
  margin: 0.75em 1em 0.25em 0em;
  padding: 2px;
  font-size: 1.2em;
  font-weight: bold;
  color: #40334d;
}
h3 {
  margin: 0.5em 1em 0.25em 0em;
  padding: 2px;
  font-size: 1.1em;
  font-weight: bold;
  color: #40334d;
}
h4 {
  margin: 0.5em 1em 0.25em 0em;
  padding: 2px;
  font-size: 1.0em;
  font-weight: bold;
  color: #40334d;
}
/******************************************/
header {
  background: #b3a3c2;
  padding: 3px 1em;
  margin: 0;
  color: #40334d;
}
header h1 {
  margin: 0em;
  padding: 0px;
  font-size: 2em;
  font-weight: bold;
  color: #40334d;
}
/******************************************/
nav {
  background: #b3a3c2;
  padding: 3px 1em;
  margin: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
  font-weight: bold;
  border: 1px solid #b3a3c2;
}
nav li a {
  display: block;
  color: #e6e0eb;
  background-color: #41324e;
  text-align: center;
  padding: 0.5em 2em;
  text-decoration: none;
}
nav li a:hover {
  color: #41324e;
  background-color: #e6e0eb;
  text-decoration: none;
}
/******************************************/
aside {
  background: #b3a3c2;
  width: 20%;
  float: right;
  padding: 0.25em;
}
aside h1 {
  margin: 0.25em 0.25em 0em 0em;
}
@media (max-width: 700px), (max-device-width: 720px) {
  aside {
    display: none;
  }
}
/******************************************/
main {
  background: #ffffff;
  padding: 1em;
}
main hr {
  margin: 0;
  padding: 0;
  color: #40334d;
  background-color: #40334d;
  height: 3px;
  width: 400px;
  text-align: left;
}
main p {
  margin: 0px;
  padding: 2px;
  color: #000000;
}
main p.hang {
  padding: 2px 2px 2px 40px;
  text-indent: -32px;
}
main .emph {
  color: #40334d;
  font-weight: bold;
  font-variant: small-caps;
}
main .alert {
  color: #40334d;
  font-weight: bold;
  background-color: yellow;
  line-height: 200%;
}
main .name {
  color: #40334d;
  font-variant: small-caps;
}
td {
  padding: 1em;
  vertical-align: top;
}
/**************/
.lecture1 {
  clear: left;
  padding-bottom: 15px;
  padding-top: 9px;
  background-color: #eddeed;
  border-top: 3px solid white;
  overflow: hidden;
}
.lecture2 {
  clear: left;
  padding-bottom: 15px;
  padding-top: 9px;
  background-color: #ccc2d6;
  border-top: 3px solid white;
  overflow: hidden;
}
.recitation {
  clear: left;
  padding-bottom: 15px;
  padding-top: 9px;
  background-color: #b3b8cc;
  border-top: 3px solid white;
  overflow: hidden;
}
.titles {
  clear: left;
  padding-bottom: 15px;
  padding-top: 9px;
  background-color: #67507c;
  color: #e6e0eb;
  font-weight: bold;
  border-top: 3px solid white;
  overflow: hidden;
}
.important {
  clear: left;
  padding-bottom: 15px;
  padding-top: 9px;
  background-color: #ffffb3;
  font-weight: bold;
  border-top: 3px solid white;
  overflow: hidden;
}
.change {
  clear: left;
  padding-bottom: 15px;
  padding-top: 9px;
  background-color: #f2f2f2;
  border-top: 3px solid white;
  overflow: hidden;
}
.column_date {
  vertical-align: top;
}
.column_materials {
  vertical-align: top;
}
.column_assign {
  vertical-align: top;
}
@media (max-width: 700px) {
  .column_date {
    border-bottom: 2px dotted white;
    font-weight: bold;
  }
  .column_materials {
    border-bottom: 2px dotted white;
    padding-top: 3px;
  }
  .column_assign {
    padding-top: 3px;
  }
}
@media (min-width: 700px) {
  .lecture1 {
    width: 79%;
  }
  .lecture2 {
    width: 79%;
  }
  .recitation {
    width: 79%;
  }
  .titles {
    width: 79%;
  }
  .important {
    width: 79%;
  }
  .change {
    width: 79%;
  }
  .column_date {
    width: 15%;
    margin-right: 2%;
    padding-left: 2px;
    display: inline-block;
  }
  .column_materials {
    width: 38%;
    margin-right: 2%;
    display: inline-block;
  }
  .column_assign {
    width: 38%;
    margin-right: 2%;
    display: inline-block;
  }
}
/******************************************/
footer {
  clear: both;
  margin: 0;
  padding: 0;
  background: #b3a3c2;
  font-size: 0.8em;
  overflow: hidden;
}
.footerlinks {
  margin: 0;
  padding: 0.8em 0 0.8em 0.8em;
  float: left;
  width: 56%;
}
.license {
  margin: 0;
  padding: 0;
  float: right;
  width: 38%;
}
